<div class="search-wrapper">
<h3 style="color: lightskyblue;">Search Reports</h3>	
<form class="form-horizontal" role="form">
	<p><b>Please enter the search filters in the following area</b> <i>(one per row):</i>
	</p>
	<div class="left">
		<textarea rows="7" class="search-text" name="search-text"></textarea>
	</div>
	<div class="left search-category checkbox">
	  	<label>
	  		<input type="checkbox" name="vehicle" value="patents">Patents<br />
		</label>
		<label>
			<input type="checkbox" name="vehicle" value="portfolios">Portfolios<br />
		</label>
		<label>
			<input type="checkbox" name="vehicle" value="companies">Companies<br />
		</label>
		<label>
			<input type="checkbox" name="vehicle" value="bulks">Bulks 
		</label>
		<button type="submit" class="btn btn-default search-button" name="search">Search</button>
	</div>
	<div class="clear"></div>
</form>
</div>
