<div class="search-wrapper">
<h3 style="color: lightskyblue;">Search Reports</h3>	
<p style="float: right;">If you are not happy with the results, you can always <a href="/search/search">search again</a>.
</p>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Patent Numbers - Company Tags</th>
        <th>Date added</th>
        <th>HTML</th>
        <th>PDF</th>
        <th>Favorite</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td style="text-align: center;"><img src="/Crystal_Clear.png" height="15" width="15"></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>Mark</td>
        <td>Otto</td>
        <td style="text-align: center;"><img src="/Crystal_Clear.png" height="15" width="15"></td>
      </tr>
      <tr>
        <td>3</td>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>Mark</td>
        <td>Otto</td>
        <td style="text-align: center;"><img src="/free-vector-icon-star-clip-art_117085_Icon_Star_clip_art_hight.png" height="15" width="15"></td>
      </tr>
    </tbody>
  </table>
</div>
