<h1>Users#Index</h1>
<p>Here goes User Index page. Find me in app/views/users/index.html.erb</p>

<p>Hints: Is user signed in?</p>

<% if signed_in? %>
   <p> - Yes, <%=@current_user.email%> is signed in.</p>
   <p> - All information of logged in user: </p>
    <pre><%= @current_user.to_json(:only => [:email, :id, :confirmed, :blocked, :remember_token]) %></pre>
<% else %>
    - No, user is not signed in.
<% end %>

<p>For login <a href="/signin">click here</a></p>

<p>For Register <a href="/signup">click here</a></p>

<p>And logged in user <%= link_to "click here", signout_path, method: "delete" %> for logout.</p>
