<div class="user-layout">
  <div>
    <span class="topmenu">Try it out!</span>
    <span class="topmenu highlight">Registered User</span>
    <span class="topmenu"><%= link_to "Sign out", signout_path, method: "delete" %></span>
  </div>
  <div class="body-part">
    <div class="title-top">
      <span class="title"> Profile </span>
    </div>
    <div class="middle-part">
      <p>Here goes user profile....</p>

      <span class="back-link"><a href="/users/">Go back to main screen</a> </span>

    </div>
  </div>
</div>