<div class="user-layout">
  <div>
    <span class="topmenu">Try it out!</span>
    <span class="topmenu highlight">Registered User</span>
  </div>
  <div class="body-part">
    <div class="title-top">
        <span class="title"> Create Account </span>
    </div>
    <div class="middle-part">

      <div class="regsuccess-msg">
        <p>Thank you for registering! You should receive an email shortly
          with a link to confirm you registration.</p>

        <span class="back-link"><a href="/users/">Go back to main screen</a> </span>
      </div>

    </div>
  </div>
</div>
