<table class="table table-striped">
	<tr>
	<td style="width:100px"><b>Name</b></td>
	<td><%=@one_pager.patent_name%></td>
	</tr>
	
	<tr>
	<td><b>Status</b></td>
	<% if (@one_pager.mig_status == "Approved") %>
	<td style = "color:green"><%=@one_pager.mig_status%></td>
	<% else %>
	<td style = "color:orange"><%=@one_pager.mig_status%></td>
	<% end %>
	</tr>

	<tr>
	<td><b>Type</b></td>
	<td>Patent</td>
	</tr>

	<tr>
	<td><b>Patent</b></td>
	<td><%=@one_pager.single_patent_num%></td>
	</tr>

</table>