<div class="one_pagers-wrapper">
	<div class="progbar navbar">
       <div class="navbar-inner" style="padding: 0;">
         <div class="container" >
           <ul class="nav" style="margin: 0; display: table; width: 100%;" >
             <li ><a href="/one_pagers">Step1: Select Report</a><div /></li>
             <li ><%= link_to "Step2: Introduce Information", controller: "one_pagers", action: "new" , report: @one_pager.type %><div /></li>
             <li  class="active" > <a href="#">Step3: Results</a><div /></li>
           </ul>
         </div>
       </div>
   </div>
	<%= @one_pager.to_json %>
</div>