<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      A new one pager has been requested , please click <%= link_to 'here' , @url%> to approve or deny it.
    </p>
  </body>
</html>