<div class="search-wrapper">
	
	<div class="progbar navbar">
       <div class="navbar-inner" style="padding: 0;">
         <div class="container" >
           <ul class="nav" style="margin: 0; display: table; width: 100%;" >
             <li class="active" ><a href="#">Step1: Select Report</a><div /></li>
             <li ><a href="#">Step2: Introduce Information</a><div /></li>
             <li ><a href="#">Step3: Results</a><div /></li>
           </ul>
         </div>
       </div>
     </div>

<p style="color: lightskyblue;">Please select the report you wish to generate</p>

</div>